body {
  background-color: rgb(255, 255, 255);
}

.main-heading{
  font-size: large;
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  
}

.navigation {
  color: white;
  border: 1px rgb(47, 47, 47) solid;
  background-color: rgb(14, 27, 38);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap : 30px;

}
.body-container{
  border: 5px rgb(47, 47, 47) solid;
  background-color: rgba(2, 46, 85, 0.285);
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}