body {
  background-color: rgb(255, 255, 255);
}

.login-sign-up{
  border: 5px solid red;
  
}


.split {

  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}


/* Control the left side */
.left {
  display: flex;
  /* flex-direction defaults to row */
  align-items: center;
  /* 100px 100px 100px 100px; */
  left: 0;
  background-color: #ffffff;
}

/* Control the right side */
.right {
  top: -200;
  right: 0;
  /* background: #74ebd5;  fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #ACB6E5, #74ebd5); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

}

.background-image{
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.outer-login-div{
  display: flex;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  
  /* justify-content: center; */
  /* borders for div testing */
  /* border: 5px rgb(106, 0, 255) solid; */
}


.username-password{
  align-self: left;
  font-weight: 600;
  font-size: medium;
  color: rgb(0, 0, 0);

}

.login-forms{
  
}

.logins{
  /* font-family: "Poppins"; */
  align-self: center;
  padding: 10px;
  width: 400px;
  border-color: rgba(0, 3, 39, 0.272);
  border-radius: 0px;
  background-color: rgb(255, 255, 255);
}


.login-button{
  font-family: Arial, Helvetica, sans-serif;
  align-self: center;
  color: rgb(255, 255, 255);
  background-color: rgb(68, 46, 110);
  width: 420px;
  height: 40px;
  font-weight: 500;
  font-size: small;
  /* border-radius: 5px; */
  /* border-color: navy;
  background-color: navy; */
  font-family: "Poppins";
  margin-top: 50px;
  /* padding-left: 100px; */
}

.login-button:hover{
  border-color: white;
  cursor: pointer;
}


.sign-up-link{
  font-size: small;
  font-weight: 600;
  color: rgb(86, 86, 86);
  text-align: center;
  margin-bottom: -20px;
}

.sign-up-link > a{
  color: blue;
}

.inner-login-div{
  margin: -200px; 
  width: 400px;
  border-radius: 8px;
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  /* border: 1px red solid; */
}

.login-heading{
  margin: 20px; 
  align-self: flex-start;
  font-size: xx-large;
  color: rgb(78, 4, 100);
  font-family: "Poppins", serif;
  font-weight: 700;
  
}

.main-heading{
  font-size: large;
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  
}

.navigation {
  color: white;
  border: 1px rgb(47, 47, 47) solid;
  background-color: rgb(14, 27, 38);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap : 30px;

}
.body-container{
  border: 5px rgb(47, 47, 47) solid;
  background-color: rgba(2, 46, 85, 0.285);
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}


