body {
  background-color: rgb(255, 255, 255);
}

.login-sign-up{
  border: 5px solid red;
}

.background-image{
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.outer-login-div{

  display: flex;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  /* borders for div testing */
  /* border: 5px rgb(106, 0, 255) solid; */
}


.username-password{
  font-weight: 600;
  font-size: larger;
  color: rgb(250, 186, 186);
  align-self: center;
}

.logins{
  /* font-family: "Poppins"; */
  align-self: center;
  padding: 5px 10px;
  margin: 8px 0;
  border-color: rgba(0, 3, 39, 0.272);
  border-radius: 4px;
  background-color: rgb(227, 227, 227);
}


.login-button{
  color: rgb(0, 0, 0);
  width: 200px;
  height: 30px;
  font-weight: 500;
  font-size: small;
  border-radius: 5px;
  /* border-color: navy;
  background-color: navy; */
  font-family: "Poppins";
  margin: 35px;
  align-self: center;
}

.login-button:hover{
  border-color: white;
  cursor: pointer;
}

.inner-login-div{
  display: flex;
  flex-direction: column;
  /* flex-start; prevents stretching and alligns along the cross axis */
  align-items: flex-start;
  border: 4.5px rgb(47, 47, 47) solid;
  border-radius: 8px;
  background-color: rgba(37, 37, 37, 0.379);
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.login-heading{
  color: rgb(8, 8, 8);
  text-align: center;
  font-size: xx-large;
  margin: 50px;
  margin-bottom: -30px;
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
}

.main-heading{
  font-size: large;
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  
}

.navigation {
  color: white;
  border: 1px rgb(47, 47, 47) solid;
  background-color: rgb(14, 27, 38);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap : 30px;

}
.body-container{
  border: 5px rgb(47, 47, 47) solid;
  background-color: rgba(2, 46, 85, 0.285);
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}


